* {
    box-sizing: border-box;
  }
  

body{
    font-family: 'Relway';
}

ul{

    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
    background-color: #736c6c;
    width: 90%;
    padding-left: 5%;
    height: 66px;
 
}

li a{

    float: left;
    padding: 17px 5px;
    margin-right: 49px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;

}

li a:hover{

    /* background-color: white; */
    /* color:rgb(183, 183, 250); */
    
    background-color: #757579;
color: #ffffff;
text-decoration: none;
}


.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    color: white;
  }
  
  /* .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(236, 234, 234);
  } */
  
  .dropdown-content {
     
    display: none;
    /* position: absolute; */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 40%;
  }
  
  .dropdown-content a {
    float: none;
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.nav_bar img{
    width: 9%;
}

.space{

    height:20px;
    width:100%;
    background-color: #ddd;
}


.search{
    float: right;
    margin: 0;
 
    width: 36%;
   
    text-align: center;
    height: 52px;
    
 
   
}

.search input{
    width: 70%;
    height: 39px;
    border-radius: 15px;
    padding-left: 15px;
 
    background-color: white;
  
    margin-top: 15px;
   
}

#btn_search{

    float: right;
    margin-right:5%;
   
    margin-bottom: 10px;
    background-color: #4d86c9;
    color: white;
    border: 1px solid white;
    padding: 6px 8px;

    border-radius: 10px;
    width: 17%;


}


.background_img img{
    width: 100%;
}


.section_view{
float: left;
width:100%;
height:auto;
background-color:#f0f0f0;


}

.imgrow{
    margin-left: 6%;
    
}

.section_view::after{
    content: "";
    display: table;
    clear: both;
}
.row1 img{
    opacity: 0.8;
    cursor: pointer;
}

.row1 img:hover{
    opacity: 1;
}

.section_view h1{
    text-align: center;
    margin-top: 50px;
}
.btn_like{
    float: left;
    width: 70px;
}
.btn_share{
    float: right;
    width: 80px;
}
.social_tools{
    width: 100%;
    height:60px;
    background-color: #4d86c9;
    margin-top: 3px;
}
.item_view{
    position: relative;
        display: inline-block;
        margin-top: 28px;
        margin-left: 5%;
        width: 25%;
        height: 250px;
        /* background-color: #ddd; */
        border-radius: 0%;
        margin-bottom: 8%;
        border: 1px solid #687aa8;
        box-shadow: 0px 3px 7px rgba(0,0,0,0.16);
        height: 373px;

}

.item_view img{
    width: 100%;
    height: 74%;
    

}

.item_view h3{

    margin-left:10px;
   
    padding: 12px;
    text-align: center;
    max-height: 100px;
    /* font-size: 10vw; */

}


.btn_detail{
    width: 125px;
    height: 31px;
    border-radius: 25px;
    background-color: #687aa8;
    float: right;
    margin-right: 20px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Relway";
}


.container{
    position: relative;
    display: none;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    /* top: 10px; */
    right: 40px;
    color: black;
    font-size: 35px;
    cursor: pointer;
    font-weight: bold;
  }


.arrow{
    margin-top: 18px;
    margin-right: 130px;
    margin-left: 13px;
}


.more_courses{
    float: right;
    /* margin-top: 3%; */
}

.more_courses h2{
    float: left;
    color: #1c387d;
    font-weight: 700;


}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }




  .text {
    background-color: #2b7199;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


  .item_view:hover img{
    opacity: 0.5;
    transition: .5s ease;
  }
  

  .item_view:hover .middle{
    opacity: 1;
  }
  

.copy_right{

width: 100%;
height:70px;


}

.copy_right img{

    float: right;
    margin-left:10px;
    margin-top:10px;
    width:50px;
    height:50px;
  

}

.copy_right p{

    margin-top:10px;
    float: left;
    margin-left:40%;

}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  /* .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  } */


/* ##############  media query part ###################     */


@media only screen and (max-width:600px){

    ul{

        list-style-type:none;
        float: right;
        padding: 0;
        margin: 0;
        background-color: #736c6c;
        width:90%;
        padding-left: 10%;
        height: 10%;
    }
    
    li a{
        float: left;
        padding: 18px 0;
        margin-right: 36px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 19px;

    }
    li a:hover{
    
        color:rgb(183, 183, 250);
    }
    
    
    .space{
    
        height:20px;
        width:100%;
        background-color: #ddd;
    }
    
    
    .search{
        float: right;
    margin: 0;
 
    width: 36%;
   
    text-align: center;
    height: 52px;
    
    }
    
    .search input{
        width: 53%;
     
        color: blue;
        background-color: white;
        text-align: center;
    }
    
    #btn_search{
    
       
        width:24%;
        padding: 0;
        /* margin-top: 3%; */
        
    
    }
    
    
    
    
    
    
    .section_view{
        width:100%;
   
    height:auto;
    background-color:white;
    
    
    }
    
    .item_view{
        display:inline-block;
        text-align: center;
    width: 61%;
    
    margin-left: 21%;
    background-color: #ddd;
    
    }
    
    .item_view img{
        width:100%;
    
    
    }
    
    .item_view h3{
       width:100%;
       text-align: center;
       margin: 0;
    }
    
    .copy_right{
    
    width: 100%;
    height:70px;
    
    
    }
    
    .copy_right img{
    
        float: right;
        margin-left:10px;
        margin-top:10px;
        width:50px;
        height:50px;
      
    
    }
    
    .copy_right p{
    
        margin-top:10px;
        float: left;
        margin-left:40%;
    
    }
    

}




@media only screen and (min-width:600px) and (max-width:800px){

    ul{

        list-style-type:none;
    float: right;
    padding: 0;
    margin: 0;
    background-color: #736c6c;
    width:90%;
    padding-left: 10%;
    height: 10%;
    }
    
    li a{
        float: left;
        padding: 18px 0;
        margin-right: 36px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 19px;

    }
    li a:hover{
    
        color:rgb(183, 183, 250);
    }
    
    
    .space{
    
        height:20px;
        width:100%;
        background-color: #ddd;
    }
    
    
    .search{
        float: right;
    margin: 0;
 
    width: 36%;
   
    text-align: center;
    height: 52px;
    
    }
    
    .search input{
        width: 53%;
        height:38px;
    
        color: blue;
        background-color: white;
        text-align: center;
    }
    
    #btn_search{
    
        width:24%;
        padding: 0;
    
    }
    
    
    
    
    
    .section_view{
        width:100%;
    height:auto;
    
    background-color:white;
    
    
    }
    
    .item_view{
        display:inline-block;
    text-align: center;
    width:50%;
     margin-left: 26%;
    background-color: #ddd;
    
    }
    
    .item_view img{
        width:100%;
    
    
    }
    
    .item_view h3{
       width:100%;
       text-align: center;
       margin: 0;
    }
    
    .copy_right{
    
    width: 100%;
    height:70px;
    
    
    }
    
    .copy_right img{
    
        float: right;
        margin-left:10px;
        margin-top:10px;
        width:50px;
        height:50px;
      
    
    }
    
    .copy_right p{
    
        margin-top:10px;
        float: left;
        margin-left:40%;
    
    }
    

}


@media only screen and (min-width:800px) and (max-width:1200px){

    ul{
        list-style-type:none;
        float: right;
        padding: 0;
        margin: 0;
        background-color: #736c6c;
        width:90%;
        padding-left: 10%;
        height: 10%;
    }
    
    li a{
        float: left;
        padding: 18px 0;
        margin-right: 36px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        font-size: 19px;

    }
    li a:hover{
    
        color:rgb(183, 183, 250);
    }
    
    
    .space{
    
        height:20px;
        width:100%;
        background-color: #ddd;
    }
    
    
    .search{
        float: right;
    margin: 0;
 
    width: 36%;
   
    text-align: center;
    height: 52px;
    
    }
    
    .search input{
        width: 53%;
        height:38px;
       
        color: blue;
        background-color: white;
        text-align: center;
    }
    
    #btn_search{
    
        width:24%;
        padding: 0;
    
    }
    
    
    
    
    .section_view{
        float: left;
        width:100%;
        height:auto;
        background-color:#f0f0f0;
        
        
        }
        
        .imgrow{
            margin-left: 6%;
        }
        
        .section_view::after{
            content: "";
            display: table;
            clear: both;
        }
        .row1 img{
            opacity: 0.8;
            cursor: pointer;
        }
        
        .row1 img:hover{
            opacity: 1;
        }
        
        .section_view h1{
            text-align: center;
            margin-top: 50px;
        }
        .btn_like{
            float: left;
            width: 70px;
        }
        .btn_share{
            float: right;
            width: 80px;
        }
        .social_tools{
            width: 100%;
            height:60px;
            background-color: #4d86c9;
            margin-top: 3px;
        }
        .item_view{
            display: inline-block;
            margin-top: 60px;
            margin-left: 1%;
            width: 31%;
            height: 51%;
            /* background-color: #ddd; */
            /* border-radius: 10%; */
            margin-bottom: 5%;
            padding-bottom: 27px;
        
        }
        
        .item_view img{
            /* margin-top:10px; */
            width:100%;
            /* height:100%; */
            
        
        }
        
        .item_view h3{
        
            margin-left:10px;
           
            padding: 12px;
            text-align: center;
            max-height: 100px;
            /* font-size: 10vw; */
        
        }
        
    .copy_right{
    
    width: 100%;
    height:70px;
    
    
    }
    
    .copy_right img{
    
        float: right;
        margin-left:10px;
        margin-top:10px;
        width:50px;
        height:50px;
      
    
    }
    
    .copy_right p{
    
        margin-top:10px;
        float: left;
        margin-left:40%;
    
    }
    

}
